.taskCard{
    padding: 20px 30px;
    border: 2px solid black; 
    background: #FFFFFF;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.15);
    opacity: 1;
    transition: .4s;   
}

.taskCard.hover{
    border-color: blue;
    opacity: .5;
}
